/*-------------- about-services -----------------*/
.about-services-wrap{
	&__img{
		padding-right: 40px;
		img{border-radius: 40px;}
	}
}

.about-services{
	&__item{
		display: flex;
		align-items: flex-start;
		gap: 18px;
		margin-bottom: 40px;
		font-family: var(--font-neutral);
		font-size: 3.2rem;
		line-height: 1.2;
		text-transform: uppercase;

		.icon{
			flex-shrink: 0;
			margin-top: 6px;
		}
	}
}

@media (max-width: 991px) {
	.about-services-wrap{
		&__img{padding-right: 0;}
	}

	.about-services{
		&__item{
			font-size: 2.4rem;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 767px) {
	.about-services-wrap{
		&__img{
			margin-bottom: 24px;
			img{border-radius: 24px;}
		}
	}
}