/*-------------- breadcrumb -----------------*/
.breadcrumb{
	&,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&{
		display: flex;
		flex-wrap: wrap;
		font-family: var(--font-neutral);
		font-size: 2rem;
		line-height: 1.2;
		color: var(--color-primary);
		margin-bottom: 8px;
		margin-top: 18px;
	}

	&__item::before{display: none;}

	&__link{
		text-decoration: none;
		transition: all 0.2s ease;

		&:hover{color: var(--color-primary-dark);}

	}
}

@media (max-width: 767px) {
	.breadcrumb{
		font-size: 1.4rem;
		margin-top: -5px;
		margin-bottom: 12px;
	}
}