/*-------------- ic-burger -----------------*/
.ic-hamburger{
	flex-shrink: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	cursor: pointer;
	transition: transform 0.3s ease;

	&:focus{outline: none;}
	
	span {
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 12px;
		left: 0;
		background: #000;
		transition: background-color 0.2s ease 0s;
	}
	
	span::before,
	span::after {
		content: "";
		width: 100%;
		position: absolute;
		display: block;
		left: 0;
		height: 1px;
		background: #000;
		transition: background-color 0.2s ease 0s;
	}
	
	span::before {top: -9px;}
	span::after {bottom: -9px;}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	&.active span{
		height: 2px;
		background: transparent;
	}

	&.active span::before,
	&.active span::after{
		height: 2px;
		background: var(--color-primary-dark);
	}
	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}
}
