/*-------------- fancybox -----------------*/
body .f-html{
	max-width: 100%;
	border-radius: 24px;
	padding: 60px 24px 38px;
}

body .f-button.is-close-button{
	top: 16px;
	right: 16px;
}

body .f-button svg{stroke: #80796B;}
body .f-button:hover svg{stroke: #000;}