/*-------------- gallery-slider -----------------*/
.gallery-slider-wrap{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		margin-bottom: 40px;

		.h2, h2{margin-bottom: 0;}
	}
}

body .gallery-slider{
	padding: 0 calc(50vw - 630px);
}


.gallery-slider{
	&__img-wrap{
		display: block;
		padding-bottom: 65%;
		position: relative;
		border-radius: 40px;
		overflow: hidden;
		cursor: zoom-in;
	}

	&__img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 991px) {
	body .gallery-slider{
		padding: 0 16px;
	}
}