/*-------------- main-menu -----------------*/
.main-menu{
	&,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item::before{display: none;}

	&{
		display: flex;
		align-items: center;
		gap: 14px;
	}

	&__link{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		height: 3.6rem;
		border: none;
		border-radius: 1.8rem;
		@include font(normal, normal, 1.6rem, 1.2, #374151);
		text-decoration: none;
		text-align: center;
		white-space: nowrap;
		padding: 0 25px;
		cursor: pointer;
		transition: all 0.2s ease 0s;

		.icon{
			flex-shrink: 0;
			transition: all 0.2s ease;
		}

		.ic-close{display: none;}

		&_green{
			background: var(--color-primary);
			color: #fff;
		}
	}

	&__link.active{
		.ic-dots{display: none;}
		.ic-close{display: block;}
	}

	&__link.active,
	&__link:hover{
		box-shadow: inset 0 -100px 0 0 var(--color-primary-light);
		color: var(--color-primary);
	}
}

.main-menu-popup{
	display: flex;
	align-items: flex-start;
	gap: 32px;
	width: 100%;
	height: calc(100vh - 87px);
	padding: 24px;
	background: rgba(1, 21, 24, 0.74);
	position: fixed;
	bottom: 100vh;
	left: 0;
	overflow: hidden;
	z-index: 990;
	transition: bottom 0.3s ease;

	&.open{bottom: 0;}

	&__main{
		width: 100%;
		max-height: 100%;
		background: #fff;
		border-radius: 40px;
		padding: 24px;
		overflow-y: auto;
	}

	.tags{margin-bottom: 16px;}
}

.info-card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	flex-shrink: 0;
	width: 483px;
	height: 655px;
	max-height: 100%;
	border-radius: 40px;
	background: url(../img/bg-bilding.jpg) no-repeat center;
	background-size: cover;
	padding: 32px 24px;
	color: #fff;
	overflow-y: auto;

	&__title{
		font-family: var(--font-neutral);
		font-size: 3.2rem;
		line-height: 1.25;
		text-transform: uppercase;
	}
}

.info-card-params{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;

	&__item{
		display: inline-flex;
		align-items: center;
		height: 3.6rem;
		border: 1px solid #fff;
		border-radius: 1.8rem;
		padding: 0 15px;
		font-family: var(--font-neutral);
		font-size: 2rem;
		color: #fff;
	}
}