/*-------------- person-block -----------------*/
.person-block{
	padding: 60px 0;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__author{
		flex-shrink: 0;
		width: 328px;
		text-align: center;
	}

	&__ava{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 178px;
		height: 178px;
		border-radius: 50%;
		margin-bottom: 25px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name{
		font-family: var(--font-neutral);
		font-size: 3.2rem;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__post{
		font-size: 2rem;
		margin-top: 14px;
	}

	&__quote{
		width: 647px;
		font-size: 2.8rem;
		font-style: italic;
	}
}

@media (max-width: 991px) {
	.person-block{
		&__quote{font-size: 2.4rem;}
		&__name{font-size: 2.4rem;}

		&__post{
			font-size: 1.6rem;
			margin-top: 10px;
		}
	}
}

@media (max-width: 767px) {
	.person-block{
		&__content{flex-direction: column;}

		&__author,
		&__quote{
			max-width: 100%;
		}

		&__quote{
			font-size: 2rem;
			text-align: center;
		}
	}
}