/*-------------- person-info -----------------*/
.person-info{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
	z-index: 2;

	&__msg{
		flex-shrink: 0;
		width: 386px;
		background: #fff;
		border-radius: 40px;
		padding: 33px 30px;
		font-size: 1.6rem;
		position: relative;
		margin-right: -40px;

		&::after{
			content: '';
			display: block;
			width: 48px;
			height: 36px;
			background: url(../img/corner-right.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: -31px;
		}
	}

	&__main{text-align: center;}

	&__ava{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 125px;
		height: 125px;
		border-radius: 50%;
		background: #fff;
		margin-top: 60px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name,
	&__post{
		font-size: 1.6rem;
		font-weight: 600;
		color: #374151;
	}

	&__name{margin-top: 10px;}

	.btn{margin-top: 33px;}
}

@media (max-width: 767px) {
	.person-info{
		flex-direction: column;
		align-items: flex-end;

		&__msg{
			width: calc(100% - 40px);
			margin-right: 40px;
			padding: 23px 30px;
		}

		&__ava{
			width: 92px;
			height: 92px;
			margin-top: 10px;
		}

		&__name,
		.btn{
			display: none;
		}

		&__post{
			max-width: 120px;
			color: var(--color-primary);
		}
	}
}