/*-------------- projects -----------------*/
.projects-wrap{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		margin-bottom: 20px;

		h2, .h2{margin-bottom: 0;}
	}

	.tags{margin-bottom: 45px;}
}

body .projects-slider{
	padding: 0 calc(50vw - 630px);
}

.projects-item{
	border-radius: 40px;
	overflow: hidden;
	color: #fff;
	box-sizing: border-box;

	&__img-wrap{
		position: relative;
		padding-bottom: 126%;
	}

	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__content{
		width: 100%;
		max-height: 100%;
		width: 100%;
		padding: 30px 20px;
		overflow-y: auto;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__title{
		font-family: var(--font-neutral);
		font-size: 3.2rem;
		line-height: 1.2;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
}

.projects-item-tags{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	&__item{
		display: inline-flex;
		align-items: center;
		min-height: 3.6rem;
		border: 1px solid #fff;
		border-radius: 1.8rem;
		padding: 0 15px;
		font-family: var(--font-neutral);
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
	}
}

@media (max-width: 991px) {
	body .projects-slider{
		padding: 0 16px;
	}

	.projects-item-tags{
		&__item{font-size: 1.5rem;}
	}
}

@media (max-width: 767px) {
	.projects-item{
		&__title{font-size: 2.4rem;}
	}

	.projects-item-tags{
		&__item{
			min-height: 3.4rem;
			border-radius: 1.7rem;
			font-size: 1.5rem;
		}
	}

	.projects-wrap{
		padding-bottom: 75px;
		position: relative;

		.slider-arr-list{
			position: absolute;
			bottom: 0;
			right: 16px;
		}
	}
}