/*-------------- services -----------------*/
.list-services{
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	.service-item{
		width: calc(33.33% - 10.66px);
	}
}

.service-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;
	min-height: 164px;
	padding: 24px 16px;
	background: rgba(185, 185, 185, 0.1);
	border-radius: 24px;
	text-decoration: none;
	transition: background-color 0.2s ease;

	&__title{
		font-size: 1.8rem;
		font-weight: 600;
		color: var(--color-text);
		line-height: 1.2;
	}

	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		color: var(--color-link)
	}

	&__arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: var(--color-primary-light);
		color: var(--color-primary);
		transition: background-color 0.2s ease;

		.icon{transition: color 0.2s ease;}
	}

	&:hover{background: #C6DCDE;}

	&:hover &__arr{
		background: var(--color-primary-dark);
		color: #fff;
	}
}