/*-------------- service-main -----------------*/
.service-main{
	h1, .h1{
		font-size: 8rem;
		line-height: 1;
	}

	h1 + p,
	.h1 + p{
		margin-top: -10px;
	}

	.form-call{margin-top: 70px;}

	&__img-wrap{
		padding-bottom: 84.5%;
		position: relative;
		border-radius: 40px;
		overflow: hidden;
		margin-left: 12px;
	}

	&__img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.progress-wrap{margin-top: 40px;}
}

.service-desc{
	.advantages-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 24px;
		margin-top: 40px;

		.advantage-item{
			width: calc(50% - 12px);
			max-width: 498px;
		}

		.advantage-item__title{max-width: none;}
	}

	.info-btn{margin-top: 65px;}
}

@media (max-width: 1279px) {
	.service-main{
		h1, .h1{
			font-size: 6rem;
		}
	}
}

@media (max-width: 991px) {
	.service-main{
		h1, .h1{
			font-size: 4.2rem;
		}

		&__img-wrap{
			margin-bottom: 24px;
			margin-left: 0;
		}

		&__img::after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.43);
			position: absolute;
			top: 0;
			left: 0;
		}

		&__title{
			width: 100%;
			font-family: var(--font-neutral);
			font-size: 4.2rem;
			font-weight: normal;
			line-height: 1.14;
			color: #fff;
			text-transform: uppercase;
			padding: 16px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

@media (max-width: 767px) {
	.service-main{
		font-size: 2rem;

		&__img-wrap{
			margin-left: -16px;
			margin-right: -16px;
			border-radius: 24px;
			padding-bottom: 90.5%;
			margin-bottom: 32px;
		}

		.form-call{margin-top: 55px;}
	}

	.service-desc{
		.advantages-list{
			.advantage-item{width: 100%;}
		}
	}
}