/*-------------- social -----------------*/
.social{
	display: inline-flex;
	align-items: center;
	gap: 20px;

	&__item{
		flex-shrink: 0;
		text-decoration: none;
		transition: opacity 0.2s ease;

		&:hover{opacity: 0.6;}
	}
}