/*-------------- tags -----------------*/
.tags{
	&,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&{
		display: flex;
		flex-wrap: wrap;
		gap: 13px;
	}

	&__item::before{display: none;}

	&__link{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 3.6rem;
		border: 1px solid var(--color-text);
		border-radius: 1.8rem;
		font-family: var(--font-btn);
		@include font(normal, normal, 2rem, 1.2, var(--color-text));
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		padding: 0 15px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	&__item.active &__link,
	&__link:hover{
		box-shadow: inset 0 -100px 0 0 var(--color-text);
		color: #fff;
	}
}

@media (max-width: 767px) {
	.tags{
		gap: 8px;
		
		&__link{
			height: 3.4rem;
			border-radius: 1.7rem;
			font-size: 1.4rem;
		}
	}
}