/*-------------- top-block -----------------*/
.top-block{
	&__wrap{
		background: url(../img/bg-flats.jpg) no-repeat center;
		background-size: cover;
		border-radius: 40px;
		padding: 70px 0 63px;
		color: #fff;

		h1,.h1,
		h2,.h2,
		h3,.h3,
		h4,.h4,
		h5,.h5{
			color: #fff;
			margin-bottom: 0;
		}
	}

	&__content{
		display: flex;
		gap: 24px;
	}

	&__info{
		flex-shrink: 0;
		width: 435px;
		padding-top: 8px;
	}

	.form-line{margin-top: 193px;}
}

@media (max-width: 1279px) {
	.top-block{
		&__info{width: 380px;}
	}
}

@media (max-width: 991px) {
	.top-block{
		margin-top: -26px;
		&__content{flex-direction: column;}
		&__info{width: 100%;}

		&__wrap{
			border-radius: 0;
			padding-bottom: 0;
		}

		.form-line{
			margin: 100px -16px 0;
			padding: 32px 16px 0;
			background: #fff;
		}
	}
}

@media (max-width: 767px) {
	.top-block{
		&__wrap{padding: 105px 0 0;}
		&__content{gap: 30px;}
		.form-line{margin-top: 70px;}
	}
}