/*-------------- unwrap-block -----------------*/
.unwrap-block{
	padding: 33px 0;

	&__head{
		display: flex;
		justify-content: space-between;
		gap: 24px;
		font-family: var(--font-neutral);
		font-size: 3.2rem;
		line-height: 1.2;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
	}

	&__num{color: var(--color-primary);}

	&__arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-left: auto;
		transition: all 0.2s ease;

		.icon{color: var(--color-primary-medium);}
	}

	&__content{
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;
	}

	&:not(:last-child){border-bottom: 0.5px solid #B9B9B9;}

	&.opened &__arr{transform: rotate(180deg);}
}

@media (max-width: 991px) {
	.unwrap-block{
		&__head{font-size: 2.8rem;}
	}
}

@media (max-width: 767px) {
	.faq-wrap{
		.btn{width: 100%;}
	}

	.unwrap-block{
		padding: 16px 0;

		&__head{
			display: block;
			font-size: 2.4rem;
			line-height: 1.3;
		}

		&__arr{display: none;}
		&__num{margin-right: 5px;}
	}
}