//Path
$path-img: "../img";
$path-fonts: "../fonts";

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1310px,
  xxl: 1810px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1284px,
  xxl: 1780px
) !default;

$grid-gutter-width: 2.4rem;