.header{
	background: #fff;
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 26px;
	position: sticky;
	top: 0;
	z-index: 1000;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
		height: 87px;
		padding: 16px 0;
	}

	&__main{
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__logo{
		flex-shrink: 0;
		font-family: var(--font-neutral);
		font-size: 1.8rem;
		line-height: 1;
		color: var(--color-text);
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover{color: var(--color-primary);}
	}

	&__address{
		font-size: 1.6rem;
		font-weight: bold;
		color: #374151;
	}

	&__contacts{
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__lang{
		font-size: 1.6rem;
		color: var(--color-primary-dark);
		text-decoration: none;
	}

	&__info{
		display: flex;
		align-items: center;
		gap: 20px;
	}
}

.header-mobile,
.header-mobile-popup{
	display: none;
}

@media (max-width: 1279px) {
	.header{
		.social{gap: 10px;}
		&__address{display: none;}
		&__main{gap: 20px;}
	}
}

@media (max-width: 991px) {
	.header{
		height: 86px;
		border: none;
	}

	.header-desktop{display: none;}

	.header-mobile-popup{
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 100vw;
		height: calc(100vh - 86px);
		background: #fff;
		position: absolute;
		bottom: 0;
		left: -100vw;
		transition: left 0.3s ease;
		position: relative;
		z-index: 1000;
		overflow-y: auto;
		overflow-x: hidden;

		&.open{left: 0;}

		&__info{padding: 40px 16px 64px;}

		&__address{
			font-size: 1.6rem;
			color: #374151;
			margin-bottom: 40px;
		}

		&__contacts{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 16px;

			.social{
				gap: 16px;

				&__item{
					max-width: 50px;
					height: 50px;
				}
			}

			.phone{
				gap: 12px;

				&__val{
					font-size: 1.8rem;
					padding-right: 16px;
				}
			}
		}

		&__lang{
			font-size: 2rem;
			color: var(--color-primary);
			text-align: center;
			margin-top: 42px;
		}
	}

	.header-mobile{
		display: block;
		border-bottom: 0.5px solid #B9B9B9;

		&__content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			height: 86px;
		}

		.ic-hamburger{flex-shrink: 0;}

		&__main{
			display: flex;
			align-items: center;
			gap: 14px;
		}

		&__logo{
			flex-shrink: 0;
			font-family: var(--font-neutral);
			font-size: 1.8rem;
			line-height: 1;
			color: var(--color-text);
			text-transform: uppercase;
			text-decoration: none;
			transition: color 0.2s ease;

			&:hover{color: var(--color-primary);}
		}

		&__phone{
			display: inline-flex;
			align-items: center;
			font-size: 1.6rem;
			line-height: 1;
			color: var(--color-primary-dark);
			text-decoration: none;

			.icon{
				flex-shrink: 0;
				color: var(--color-primary);
			}
		}

		&__close{display: none;}

		&.open &__phone{display: none;}
		&.open &__close{display: block;}
		&.open .header-mobile{left: 0;}
	}

	.mobile-menu{
		&,
		&__item,
		&__sub{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&{
			position: relative;
			transition: transform 0.3s ease;
			z-index: 10;
		}

		&__item{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			padding: 23px 25px 24px;
			border-bottom: 0.5px solid #B9B9B9;
			
			&::before{display: none;}
		}

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: #CEE4E6;
			color: var(--color-primary);
		}

		&__sub{
			width: 100vw;
			height: calc(100vh - 86px);
			background: #fff;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 100%;
			z-index: 2;

			&.active{opacity: 1;}
		}

		&__link{
			font-size: 1.6rem;
			color: #374151;
			text-decoration: none;
		}
	}

	.mobile-menu-back{
		display: inline-flex;
		align-items: center;
		gap: 16px;

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: #CEE4E6;
			color: var(--color-primary);
		}

		&__label{
			font-size: 1.6rem;
			color: var(--color-primary);
		}
	}
}