section.faq-wrap.m-indent
	.container
		.row
			.col-12
				h2 вопросы

				-
					var list=[
						{num:'01/', title:'Какие моющие средства и технику используете?', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'},
						{num:'02/', title:'Как трудоустроены сотрудники?', text:'Текст'},
						{num:'03/', title:'какие помещения вы убираете?', text:'Текст'},
						{num:'04/', title:'Какие моющие средства и технику используете?', text:'Текст'},
						{num:'05/', title:'Какие моющие средства и технику используете?', text:'Текст'},
					]
				each item in list
					.unwrap-block.js-unwrap-block
						.unwrap-block__head.js-unwrap-head
							span.unwrap-block__num= item.num
							= item.title
							.unwrap-block__arr
								+svg('ic-arrow-down','ic-arrow-down', '52', '28')
						.unwrap-block__content.js-unwrap-content
							.unwrap-block__info.js-unwrap-info= item.text

				.faq-wrap__btn
					a(href="#").btn.btn_big.btn_border смотреть все