section.main-contacts.mt-indent.last-elem
	.container
		.row
			.col-12
				.main-contacts__wrap
					.main-contacts__content
						.main-contacts__title найдите персонал уже сегодня
						.main-contacts__text Оперативный клининг: без текучки, без накладок, с ежедневной гарантией результата

					.contacts-block
						.contacts-block__call
							+svg('ic-call','ic-call', '52', '52')

						.contacts-block__title набрать персонал

						.contacts-block__list
							a(href="tel:+79994557594").contacts-block__item
								.contacts-block__icon
									+svg('ic-call','ic-call', '26', '26')

								.contacts-block__val +7 (999) 455 75 94

							a(href="#").contacts-block__item.contacts-block__item_green
								.contacts-block__icon
									+svg('ic-whatsapp','ic-whatsapp', '32', '32')

								.contacts-block__val Связаться в What’s App

							a(href="#").contacts-block__item.contacts-block__item_blue
								.contacts-block__icon
									+svg('ic-telegram','ic-telegram', '32', '32')

								.contacts-block__val Связаться в Telegram