section.steps-wrap.bg-grey.m-indent
	.container
		.row
			.col-12
				.h4 Этапы работы

				h2 Ваш путь 
					span.d-none.d-md-inline с «Персонал Сервис»

				.person-info
					.person-info__msg Я выезжаю на объект для точной оценки объёма работы и ответов на ваши вопросы. Это бесплатно

					.person-info__main
						.person-info__ava
							img(src="/upload/man.jpg", alt="")
						
						.person-info__name Олег Промыслов
						.person-info__post Персональный менеджер

						a(href="#", data-fancybox, data-src="#callback").btn.btn_small
							+svg('ic-call','ic-call', '26', '26')
							|позвоните мне

				.steps
					.steps__list
						.steps__item.js-steps-item
							.steps__num 1
							.steps__label
								|оцените объём работы
								br
								|с менеджером

						.steps__item.js-steps-item
							.steps__num 2
							.steps__label
								|зафиксируйте цену
								br
								|на услуги

						.steps__item.js-steps-item
							.steps__num 3
							.steps__label
								|получайте ежедневные
								br
								|фотоотчёты

						.steps__item.js-steps-item
							.steps__num 4
							.steps__label
								|оперативно
								br
								|увеличивайте команду

						.steps__item.js-steps-item
							.steps__num 5
							.steps__label
								|оплачивайте работу
								br
								|только после приёмки
					
					.steps__btn
						a(href="#", data-fancybox, data-src="#callback").btn.btn_big связаться с нами