extends tmpl/_layout

block vars
	- var pageId = 'main'

block body
	section.top-block.mb-indent
		.st-width
			.top-block__wrap
				.container
					.row
						.col-12
							.top-block__content
								.top-block__title
									h1 Персонал и&nbsp;сервис под ключ

								.top-block__info
									p Клининг для бизнеса: опытный персонал без текучек с ежедневной гарантией результата

									ul.list-color
										li Опытный персонал без текучек
										li С ежедневной гарантией результата

							form.form-line
								.form-line__content
									.form-line__field
										select.js-select
											option(value="") Тип объекта
											option(value="flat") Квартира
											option(value="hous") Дом

									.form-line__field
										input(type="text", name="area", placeholder="Площадь, m2")

									.form-line__field
										input.js-phone(type="text", name="phone", placeholder="+7 (999) 455 75 94")

									button(type="submit").btn заказать звонок

								.form-line__note
									+svg('ic-clock','ic-clock', '21', '21')
									|Свяжемся с вами в течение 10 минут

	include ./components/_services-block

	hr

	section.info-wrap.m-indent
		.container
			.row
				.col-12
					.h4 опыт в Horeca

			.row
				.col-lg-6
					h2 персонал и сервис 
						span.text-color под ваш стандарт

				.col-lg-6
					.info-wrap__text
						p Клининг для бизнеса: опытный персонал без текучек с ежедневной гарантией результата

		.info-list
			.container
				.row
					-
						var list=[
							{img:'hotels.jpg', title:'Гостиницы и отели', text:'Опытный персонал под ключ'},
							{img:'flats.jpg', title:'Апартаменты и жилые дома', text:'Комплексное обслуживание зон и контроль '},
						]
					each item, index in list
						.col-md-6
							a(href="#").info-item
								.info-item__bg-wrap
									.info-item__bg
										img(src="/upload/"+item.img, alt="")

								.info-item__content
									.info-item__info
										.info-item__title
											if(index == 0)
												|Гостиницы 
												br
												|и отели

											if(index == 1)
												|Апартаменты 
												br
												|и жилые дома

										.info-item__text= item.text

									.info-item__arr
										+svg('ic-arrow-right','ic-arrow-right', '27', '50')
	
	section.about-wrap.bg-color.m-indent
		.container
			.row
				.col-12
					.h4 О компании

					h2 Как мы работаем

		.about
			.container
				.row
					.col-lg-6.order-2
						.about__sect
							p
								b «Персонал Сервис» 
								| — международная компания с 18-летним опытом в сфере клининга, инжиниринга, благоустройства и аутсорсинга персонала.

							p Мы — надёжный партнёр  в уборке и сервисе для гостиниц, ЖК, ресторанов, бизнес-центров и предприятий Санкт-Петербурга.

							.about-data
								.about-data__item
									.about-data__val 1 200 000m2

									.about-data__label
										|уборки 
										br
										|ежедневно

								.about-data__item
									.about-data__val 180 000 

									.about-data__label
										|убранных номеров
										br
										|в 2024 году

						.about__sect
							.about__title Наша миссия

							p Мы берём на себя полный контроль персонала, чтобы вы могли сосредоточиться на бизнесе

							a(href="#", data-fancybox, data-src="#callback").btn.btn_big.d-lg-none Связаться с нами

					.col-lg-6.order-1
						.main-person
							.main-person__content
								.main-person__top
									.main-person__img
										img(src="/upload/woman.jpg", alt="")

									.main-person__info
										.main-person__name Ирина плотникова
										.main-person__post Генеральный директор

								.main-person__text Ваш бизнес всегда будет обеспечен нужными людьми — быстро и профессионально

							a(href="#", data-fancybox, data-src="#callback").btn.btn_big.d-none.d-lg-inline-flex Связаться с нами

		.container
			.row
				.col-12
					.partners
						-
							var list=[
								{img:'partner1.png'},
								{img:'partner2.png'},
								{img:'partner3.png'},
								{img:'partner4.png'},
								{img:'partner5.png'},
							]
						each item in list
							.partners__item
								img(src="/upload/"+item.img, alt="")

	include ./components/_advantage

	include ./components/_steps
	
	include ./components/_clients

	include ./components/_faq

	include ./components/_main-contacts