header.header
	.container
		.row
			.col-12
				.header__content
					.header__main
						a(href="/").header__logo
							|персонал
							br
							|сервис

						ul.main-menu
							li.main-menu__item
								span.main-menu__link.main-menu__link_green.js-btn-services
									+svg('ic-dots','ic-dots', '14', '14')
									+svg('ic-close','ic-close', '12', '12')
									|Услуги

								.main-menu-popup.js-main-menu-popup
									.main-menu-popup__main
										ul.tags
											-
												var list=[
													{text:'все'},
													{text:'регулярная уборка'},
													{text:'объекты', status:'active'},
													{text:'мытьё и фасады'},
													{text:'химчистка и мебель'},
													{text:'Территория'},
												]
											each item in list
												li.tags__item(class=item.status?' active':'')
													a(href="#").tags__link= item.text

										.list-services
											-
												var list=[
													{text:'Комплексное обслуживание мест общего пользования'},
													{text:'Уход за придомовой территорией'},
													{text:'Аварийное обслуживание: срочный выход сотрудников'},
													{text:'Генеральная уборка'},
													{text:'Химическая чистка мебели и ковровых покрытий'},
													{text:'Благоустройство территории и уход за насаждениями'},
													{text:'Уборка после ремонта'},
													{text:'Мытье окон и витражного остекления'},
													{text:'Вывоз снега, покос травы'},
													{text:'Аварийное обслуживание: срочный выход сотрудников'},
													{text:'Генеральная уборка'},
													{text:'Химическая чистка мебели и ковровых покрытий'},
												]
											each item in list
												a(href="#").service-item
													.service-item__title= item.text

													.service-item__bottom
														.service-item__icon
															+svg('ic-clean','ic-clean', '26', '26')

														.service-item__arr
															+svg('ic-arrow-diagonal','ic-arrow-diagonal', '19', '19')

									.info-card
										.info-card__title
											|Балтийская
											br
											|жемчужина

										.info-card-params
											.info-card-params__item 7 000 м
												span.sub
											
											.info-card-params__item 350 апартаментов
											.info-card-params__item 37 сотрудников
											.info-card-params__item 37 сотрудников

							li.main-menu__item
								a(href="#").main-menu__link Клиенты

							li.main-menu__item
								a(href="#").main-menu__link О компании
						
					.header__address г. Санкт-Петербург

					.header__info
						.header__contacts
							.social
								a(href="#").social__item
									img(src="/upload/whatsapp-green.svg", alt="")

								a(href="#").social__item
									img(src="/upload/telegram-green.svg", alt="")

							a(href="tel:+79994557594").phone
								.phone__icon
									+svg('ic-call','ic-call', '26', '26')

								.phone__val +7 (999) 455 75 94
							
						a(href="#").header__lang Eng