@import "utils/vars";

// bootstrap
@import "../node_modules/bootstrap/scss/bootstrap-grid";

@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


@import "layouts/main";
@import "layouts/header";
@import "layouts/footer";

@import "components/icons";
@import "components/type-icon";
@import "components/main-menu";
@import "components/social";
@import "components/phone";
@import "components/tags";
@import "components/services";
@import "components/form-site";
@import "components/unwrap-block";
@import "components/top-block";
@import "components/list-color";
@import "components/form-line";
@import "components/choices";
@import "components/services-block";
@import "components/info";
@import "components/about";
@import "components/partners";
@import "components/advantages";
@import "components/person-info";
@import "components/steps";
@import "components/swiper";
@import "components/projects";
@import "components/faq";
@import "components/main-contacts";
@import "components/burger";
@import "components/input-check";
@import "components/fancybox";
@import "components/details";
@import "components/brands";
@import "components/progress";
@import "components/info-btn";
@import "components/our-clients";
@import "components/breadcrumb";
@import "components/form-call";
@import "components/service-main";
@import "components/attitude";
@import "components/client-info";
@import "components/project";
@import "components/about-services";
@import "components/person-block";
@import "components/gallery-slider";